<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        

        <p>
          Copyright© {% now "Y" %} by Camtubex.
        </p>

        <p>
          <a href="{% url 'dmca' %}">
            DMCA
          </a>&nbsp;
          <a href="{% url 'statement' %}">
            2257-Statement
          </a>&nbsp;
          <a href="http://www.parentalcontrolbar.org/" target="_blank">
            Parental Control
          </a>
        </p>


      </div>
    </div>
  </footer>
